MYSQL_HOST=mysql_osticket
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
MYSQL_PREFIX=ost_
MYSQL_DATABASE=osticket
MYSQL_USER=osticket

SMTP_HOST=
SMTP_PORT=587
SMTP_FROM=
SMTP_TLS=1
SMTP_TLS_CERTS=
SMTP_USER=
SMTP_PASSWORD=

#CRON_INTERVAL=
INSTALL_SECRET=
#INSTALL_CONFIG
INSTALL_EMAIL=
INSTALL_URL=

INSTALL_NAME=SBDI Support
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
ADMIN_EMAIL=
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=

